
<div class="container" >

  <div class="row">

    <div class="col-lg-6">

      <div class="poker-table">
        <img class="poker-table-img" src="assets/images/Texas_Holdem_Poker_Table.jpg"/>
        <button class="utg placement" ng-class="{'rfi-active':vm.activeHero('UTG'), 'position-active':vm.activeVillian('UTG')}">UTG</button>
        <button class="mp placement" ng-class="{'rfi-active':vm.activeHero('MP'), 'position-active':vm.activeVillian('MP')}">MP</button>
        <button class="co placement" ng-class="{'rfi-active':vm.activeHero('CO'), 'position-active':vm.activeVillian('CO')}">CO</button>
        <button class="butn placement" ng-class="{'rfi-active':vm.activeHero('BTN'), 'position-active':vm.activeVillian('BTN')}">BTN</button>
        <button class="sb placement" ng-class="{'rfi-active':vm.activeHero('SB'), 'position-active':vm.activeVillian('SB')}">SB</button>
        <button class="bb placement" ng-class="{'rfi-active':vm.activeHero('BB'), 'position-active':vm.activeVillian('BB')}">BB</button>

        <button class="d placement" >D</button>
      </div>

      <div id="dropzone" file-change="vm.inputImageChange($event, files)" >drop here!</div>

    </div>
    <div class="col-lg-6">

      <form class="form-horizontal" ng-click="vm.combinationChanged()">

        <div class="form-group">
          <div class="col-lg-3">
            <label class="control-label">Raise Size</label>
          </div>
          <div class="col-lg-9">
            <div class="btn-group">
                <label class="btn btn-primary" ng-model="vm.combination.raiseSize" uib-btn-radio="2" >2x</label>
                <label class="btn btn-primary" ng-model="vm.combination.raiseSize" uib-btn-radio="2.5" >2.5x</label>
                <label class="btn btn-primary" ng-model="vm.combination.raiseSize" uib-btn-radio="3" >3x</label>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="col-lg-3">
            <label class="control-label">RFI Position</label>
          </div>
          <div class="col-lg-9">
            <div class="btn-group">
                <label class="btn btn-success" ng-model="vm.combination.RFI" uib-btn-radio="'Hero'" >Hero</label>
                <label class="btn btn-warning" ng-model="vm.combination.RFI" uib-btn-radio="'Villain'" >Villain</label>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-lg-3">
            <label class="control-label">Hero Position</label>
          </div>
          <div class="col-lg-9">
            <div class="btn-group">
                <label class="btn btn-success" ng-model="vm.combination.heroPosition" uib-btn-radio="'UTG'" ng-disabled="vm.activeVillian('UTG')">UTG</label>
                <label class="btn btn-success" ng-model="vm.combination.heroPosition" uib-btn-radio="'MP'" ng-disabled="vm.activeVillian('MP')">MP</label>
                <label class="btn btn-success" ng-model="vm.combination.heroPosition" uib-btn-radio="'CO'" ng-disabled="vm.activeVillian('CO')">CO</label>
                <label class="btn btn-success" ng-model="vm.combination.heroPosition" uib-btn-radio="'BTN'" ng-disabled="vm.activeVillian('BTN')">BTN</label>
                <label class="btn btn-success" ng-model="vm.combination.heroPosition" uib-btn-radio="'SB'" ng-disabled="vm.activeVillian('SB')">SB</label>
                <label class="btn btn-success" ng-model="vm.combination.heroPosition" uib-btn-radio="'BB'" ng-disabled="vm.activeVillian('BB')">BB</label>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-lg-3">
            <label class="control-label">Villain Position</label>
          </div>
          <div class="col-lg-9">
            <div class="btn-group">
                <label class="btn btn-warning" ng-model="vm.combination.villainPosition" uib-btn-radio="'UTG'" uncheckable ng-disabled="vm.activeHero('UTG')">UTG</label>
                <label class="btn btn-warning" ng-model="vm.combination.villainPosition" uib-btn-radio="'MP'" uncheckable ng-disabled="vm.activeHero('MP')">MP</label>
                <label class="btn btn-warning" ng-model="vm.combination.villainPosition" uib-btn-radio="'CO'" uncheckable ng-disabled="m.activeHero('CO')">CO</label>
                <label class="btn btn-warning" ng-model="vm.combination.villainPosition" uib-btn-radio="'BTN'" uncheckable ng-disabled="vm.activeHero('BTN')">BTN</label>
                <label class="btn btn-warning" ng-model="vm.combination.villainPosition" uib-btn-radio="'SB'" uncheckable ng-disabled="vm.activeHero('SB')">SB</label>
                <label class="btn btn-warning" ng-model="vm.combination.villainPosition" uib-btn-radio="'BB'" uncheckable ng-disabled="vm.activeHero('BB')">BB</label>
            </div>
          </div>
        </div>

        <div class="form-group">
          <h3>Preflop Advice</h3>
          <img class="chart" ng-src="{{vm.chart}}"/>
        </div>

        <form>

        </div>
      </div>

    </div>

<!--         <div class="btn-group" data-toggle="buttons">
          <label class="btn btn-primary">
            <input type="radio" name="options" id="option1" autocomplete="off" checked> Radio 1 (preselected)
          </label>
          <label class="btn btn-primary">
            <input type="radio" name="options" id="option2" autocomplete="off"> Radio 2
          </label>
          <label class="btn btn-primary">
            <input type="radio" name="options" id="option3" autocomplete="off"> Radio 3
          </label>
        </div>

        <div class="btn-group">
          <label class="btn btn-success" ng-model="radioModel" uib-btn-radio="'Left'" uncheckable>Left</label>
          <label class="btn btn-success" ng-model="radioModel" uib-btn-radio="'Middle'" uncheckable>Middle</label>
          <label class="btn btn-success" ng-model="radioModel" uib-btn-radio="'Right'" uib-uncheckable="uncheckable">Right</label>
        </div> -->
